<%# @jobs.each do |job| %>
<!--   <div>
    <h3><%#= job.title %></h3>
    <p><%#= job.description %></p>
    <p><%#= job.company_name %></p>
  </div> -->





  <!-- <p><%#= @jobs.to_json.gsub(' ', '~') %></p> -->
  <div id="variable-props-test" data-jobs="<%= @jobs.to_json %>"></div>





<!--   <div class="job-index-container">
    <div class="job-index-tinder-card">
      <img class="job-index-tinder-photo", src="https://images.pexels.com/photos/722681/white-snow-forest-winter-722681.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
      <div class="job-index-tinder-info">
        <h1 class="job-index-tinder-title grey roboto bold"><%#= @jobs.first.title %></h1>
        <h2 class="job-index-tinder-location roboto regular">Le Manoir, Morzine</h2>
        <div class="job-index-tinder-salary">
          <div class="salary-icon"></div>
          <p class="small-grey-text">£25,000 per annum</p>
        </div>
        <div class="job-index-tinder-more-info">
          <div class="more-info-icon"></div>
          <p class="small-grey-text underline">More information</p>
        </div>
      </div>
      <div class="job-index-tinder-buttons">
        <div id="silver-swan-button" data-linkTarget="#" data-linkText="Apply Now"/>
      </div>
    </div>
  </div> -->
<%# end %>
