<div class="job-show-container">
  <div class="job-show-splash">
    <div class="job-show-photo-holder">
      <img class="job-show-photo" src="https://images.pexels.com/photos/722681/white-snow-forest-winter-722681.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" />
    </div>
    <div class="job-show-info">
      <div class="posted-share-flex">
        <p class="small-text">Posted 25/01/2019</p>
        <a href="#">Share</a>
      </div>
      <h1 class="medium-text grey bold"><%= @job.title %></h1>
      <p class="medium-text grey"><%= @job.company_name %></p>
    </div>
  </div>
  <div class="job-show-details">
    <h5 class="maroon">Responsibilities</h5>
    <ul class="show-list">
      <li class="grey small-text">Involvement in staff training</li>
      <li class="grey small-text">During evening service you will assist the other hosts on duty and the chef in the chalet with drinks service, guest hosting & laying the table, serving at the table and general kitchen help, washing up etc. Evening bedroom turndown service is offered to guests.</li>
      <li class="grey small-text">Chalet maintenance - Generally ensuring any items that need attention are dealt with efficiently & quickly.</li>
    </ul>
    <h5 class="maroon">Benefits</h5>
    <ul class="show-list">
      <li class="grey small-text"><%= @job.display_salary %></li>
      <li class="grey small-text">Accommodation is provided</li>
      <li class="grey small-text">Ski/Board equipment is provided for the season.</li>
      <li class="grey small-text">Lift pass</li>
    </ul>

    <div id="silver-swan-button" data-linkTarget="#" data-linkText="Apply Now"></div>
  </div>
</div>
