<div class="login-container">
  <div class="login-logo-holder">
    <div class="login-logo">
      <%= image_tag "Swan.png" %>
      <h1 class="text-center grey login-title">Silver Swan <br>Search</h1>
    </div>
  </div>
  <div class="login-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="form-group email optional user_email">
          <input class="form-control string email optional" autocomplete="email" autofocus="autofocus" placeholder="Email" type="email" value="" name="user[email]" id="user_email">
        </div>
        <div class="form-group password optional user_password">
          <input class="form-control password optional" autocomplete="current-password" placeholder="Password" type="password" name="user[password]" id="user_password">
        </div>
      </div>

        <input type="submit" name="commit" value="Log in" class="btn silver-swan-button login-ss-button" data-disable-with="Log in">
    <% end %>
    <div class="forgotten-password">
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "light-grey" %>
    </div>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "btn silver-swan-negative-button login-ss-button margin-top" %>
  </div>
</div>

