.admin-user-dashboard {
  display: flex;
}

.filter-title {
  font-size: 20px;
  font-weight: lighter;
  font-family: "Open Sans";
}

.admin-user-filters {
  width: 25vw;
  border-right: 1px solid #C4C4C4;
  min-height: calc(100vh - 100px);
  margin-left: 25px;
  .form-control-label {
    color: #8E8E8E;
    font-size: 15px;
    font-weight: lighter;
  }
}

.admin-user-index {
  width: 75vw;
}

.admin-user-cards-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.admin-form {
  width: 20vw !important;
  margin-left: 0px !important;
}

.admin-age-form {
  width: 30px !important;
  margin-left: 0px !important;
  margin-bottom: 0 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: none !important;
}

.slider-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#age-slider {
  margin: 0 5px;
  width: 13vw;
}

.noUi-connect {
  background: #6B2022 !important;
}

.noUi-horizontal .noUi-handle {
  border-radius: 50% !important;
  height: 28px !important;
  width: 28px !important;
  &::before {
    display: none;
  }
  &::after {
    display: none;
  }
}

.admin-user-index-tabs {
  display: flex;
  justify-content: space-around;
}
